[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hydra-core = "*"
omegaconf = "*"
tensorflow = "*"
more-itertools = "*"
scikit-learn = "*"
pandas = "*"
pdoc = "*"
psycopg = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pre-commit= "*"
sqlmodel = "*"
tqdm = "*"
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
mlflow = "*"
pynvml = "*"
bentoml = "*"
dvc = "*"
seaborn = "*"
duckdb = "*"
duckdb-engine = "*"
optuna = "*"
optuna-dashboard = "*"
torch = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "{{ cookiecutter.compatible_python_versions }}"
